.mid{
  min-height: 100vh;
   
   flex: 1;
   position: relative;
   padding-bottom: 15vh;
}

.mid .nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.mid .nav img{
   border-radius: 50%;
   width: 50px;
}

.content{
    max-width: 900px;
    margin: auto;
}

.content .headere{
    font-size: 56px ;
    font-weight: 500;
    margin: 30px 0;
  
}

.content .headere p span{
    background: -webkit-linear-gradient(16deg,#4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 20px;

}

.card{

    height: 200px;
    background-color: #c7c7c7;
    text-align: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
}

.card img{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
    background-color: white;
    border-radius: 50%;
}

.card:hover{
    background-color: #e7e7e7;
}


.main-bottom{
    width: 100%;
    max-width: 900px;
    
    position: absolute;
    bottom: 0;
    margin: auto;
    padding: 0px 20px;  
}


.search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #c7c7c7;
    padding: 10px 20px;
    border-radius: 50px;
}

.search img{
    width: 24px;
    cursor: pointer;
}

.search input{
    flex: 1;
    background: transparent;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 18px;
}